#icon_ppn-learn .cls-1, #icon_ppn-learn .cls-2, #icon_ppn-learn .cls-3, #icon_ppn-learn .cls-4, #icon_ppn-learn .cls-5, #icon_ppn-learn .cls-6,  #icon_ppn-learn .cls-7, #icon_ppn-learn .cls-8, #icon_ppn-resource .cls-1, #icon_ppn-resource .cls-2, #icon_ppn-resource .cls-3, #icon_ppn-resource .cls-4, #icon_ppn-resource .cls-5, #icon_ppn-resource .cls-6, #icon_ppn-resource .cls-7, #icon_ppn-vet .cls-3, #icon_ppn-vet .cls-2, #icon_ppn-vet .cls-4, #icon_ppn-vet .cls-5, #icon_ppn-vet .cls-6 {
	stroke-width:2px;
}
#icon_ppn-learn .cls-1, #icon_ppn-learn .cls-2, #icon_ppn-learn .cls-3, #icon_ppn-learn .cls-4, #icon_ppn-learn .cls-5, #icon_ppn-learn .cls-6, #icon_ppn-learn .cls-7, #icon_ppn-learn .cls-8{
	stroke:#4b0d08;
}
#icon_ppn-resource .cls-3, #icon_ppn-resource .cls-4, #icon_ppn-resource .cls-7 {
	stroke:#004248;
}
#icon_ppn-resource .cls-1, #icon_ppn-resource .cls-2, #icon_ppn-resource .cls-5, #icon_ppn-resource .cls-6{
	stroke:#00272b;
}
#icon_ppn-vet .cls-3, #icon_ppn-vet .cls-2, #icon_ppn-vet .cls-4, #icon_ppn-vet .cls-5, #icon_ppn-vet .cls-6{
	stroke:#273927;
}
#icon_ppn-learn .cls-1, #icon_ppn-learn .cls-2, #icon_ppn-learn .cls-3, #icon_ppn-learn .cls-4, #icon_ppn-learn .cls-5, #icon_ppn-learn .cls-8, #icon_ppn-resource .cls-1, #icon_ppn-resource .cls-3, #icon_ppn-resource .cls-4, #icon_ppn-resource .cls-5, #icon_ppn-resource .cls-6, #icon_ppn-vet .cls-4{
	stroke-linecap:round;
}
#icon_ppn-learn .cls-1, #icon_ppn-learn .cls-2, #icon_ppn-learn .cls-4, #icon_ppn-learn .cls-5, #icon_ppn-learn .cls-8, #icon_ppn-resource .cls-1, #icon_ppn-resource .cls-3, #icon_ppn-resource .cls-4, #icon_ppn-resource .cls-5, #icon_ppn-resource .cls-6{
	stroke-linejoin:round;
}
#icon_ppn-learn .cls-1, #icon_ppn-learn .cls-9{
	fill:#feeae8;
}
#icon_ppn-learn .cls-2{
	fill:#f92a1c;
}
#icon_ppn-learn .cls-4{
	fill:#fc958e;
}
#icon_ppn-learn .cls-6, #icon_ppn-learn .cls-8{
	fill:#bd554e;
}
#icon_ppn-resource .cls-1, #icon_ppn-resource .cls-8{
	fill:#e6f3f4;
}
#icon_ppn-resource .cls-2{
	fill:#00838f;
}
#icon_ppn-resource .cls-4, #icon_ppn-resource .cls-6{
	fill:#80c1c7;
}
#icon_ppn-resource .cls-5, #icon_ppn-resource .cls-7{
	fill:#408288;
}
#icon_ppn-vet .cls-1, #icon_ppn-vet .cls-2{
	fill:#c0dfc1;
}
#icon_ppn-vet .cls-3{
	fill:#f2f9f3;
}
#icon_ppn-vet .cls-5{
	fill:#81be83;
}
#icon_ppn-vet .cls-6{
	fill:#819f82;
}
#icon_ppn-learn.cls-3, #icon_ppn-learn .cls-5, #icon_ppn-learn .cls-7, #icon_ppn-resource .cls-3, #icon_ppn-vet .cls-4{
	fill:none;
}
#icon_ppn-learn .cls-3, #icon_ppn-learn .cls-6, #icon_ppn-learn .cls-7, #icon_ppn-resource .cls-2, #icon_ppn-resource .cls-7, #icon_ppn-vet .cls-3, #icon_ppn-vet .cls-2, #icon_ppn-vet .cls-4, #icon_ppn-vet .cls-5, #icon_ppn-vet .cls-6{
	stroke-miterlimit:10;
}
.showcase_container{
	display:flex;
	flex-wrap:wrap;	
	text-align:center;
}
.showcase-item{
	width:33%;
	padding:10px;
}
.showcase-item:nth-of-type(2){
	border-color:#f0f0f0;
	border-left:1px solid;
	border-right:1px solid;
}
.showcase-item p{
	margin-bottom:0;
}
.showcase-link:visited{
	color:inherit;
}
.showcase-link:hover{
	cursor:pointer;
}
.showcase-title h3{
	margin-top:0;
	letter-spacing:0.02em;
}@media only screen and (max-width:900px){
	.showcase-item{
		padding:4px;
	}
}
@media only screen and (max-width:767px){
	.showcase-item{
		width:100%;
	}
	.showcase-item:nth-of-type(2){
		border-top:1px solid;
		border-bottom:1px solid;
		border-right:none;
		border-left:none;
	}	
}
