/*start at ln 161 style.css as of 6/29/25*/
/*=========SCROLL-TOP-BUTTON==========*/
.scroll-top-button{
	right:20px;
	bottom:20px;
}
.scroll-top-button.visible{
	opacity:0.65;
}
.scroll-top-button{
	content:url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" width="20px"><polyline style="fill:none; stroke:white; stroke-width:2px; stroke-linecap:round; stroke-linejoin:round; stroke-miterlimit:10; transform:rotate(45deg); transform-origin:center;" points="16 8 8 8 8 16"/></svg>');
	display:inline-block;
	width:40px;
	height:40px;
	padding:4px;
	background-color:#434343;
	border-radius: 50% !important;
}
@media only screen and (min-width:1200px){
	.scroll-top-button{
		right:calc(calc(100vw - 1200px) / 2);
		bottom:20px;
	}
}
@media only screen and (max-width:768px){
	.scroll-top-button{
		right:6px;
		bottom:15px;
		width:32px;
		height:32px;
		padding:2px 4px 4px 4px;
	}
}
